/*PALETA DE COLORES:
    Azul Marino (#1E3A8A): Transmite confianza y profesionalismo.
    Gris Claro (#F3F4F6): Ideal para fondos, ya que es neutro y no distrae.
    Blanco (#FFFFFF): Para mantener un diseño limpio y moderno.
    Naranja (#F97316): Perfecto para botones de llamada a la acción, ya que es vibrante y llama la atención.
    Verde (#10B981): Para destacar ofertas especiales o productos ecológicos.
*/

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER*/

.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #1E3A8A;
    color: #FFFFFF;
}

.header_container a{
    color: white;
}

.header_container--title{
    display: flex;
    justify-content: left;
    align-items: center;
    width: auto;
    height: 50px;
}

.logo-header{
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    bottom: 5px;
    color: #FFFFFF;
}

.title-header{
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin: 0px 5px;
}

.header_container--search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 50px;
}

form[name="search"]{
    width: 100%;
}

.header_container--search input{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 1em;
}

.header_container--user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 24%;
    height: auto;
}

.header_container--user ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
}

.header_container--user ul a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 5px;
    font-size: 1em;
}

.header_container--user ul img{
    width: 30px;
    height: 42%;
    margin: 5px;
}

.header_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #162d6b;
    color: #FFFFFF;
}

.header_navbar ul img{
    width: 30px;
    height: 30px;
}

.header_navbar--menu{
    display: flex;
    justify-content: left;
    align-items: center;
}

.header_navbar--menu li{
    display: flex;
    align-items: center;
}

.header_navbar--items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 30px;
}

.header_navbar--items a{
    color: #FFFFFF;
}

.header_navbar--misc{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.header_navbar--misc li{
    display: flex;
    align-items: center;
}

.header_navbar--misc a{
    color: #FFFFFF;
}

/*MAIN*/

main{
    background-color: #F3F4F6;
}

.divisor-banner{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 170px;
    background-image: url("../media/banner-publicitario.jpg");
    background-size: cover;
    background-position: center;
}

.first-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 5px;
    margin: 20px 0px;
    background-color: #FFFFFF;
}

.first-banner ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 5px;
    padding: 0px 5px;
    width: 30%;
    height: auto;
}

.first-banner-border{
    border-left: 1px solid black;
}

.first-banner img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.subtitle{
    margin: 20px;
    font-size: 2em;
    font-weight: 100;
    color: #1E3A8A;
}

.product_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 20px 20px 40px 20px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px #8a8a8b;
}

.product_container--card{
    width: 250px;
    height: 400px;
    margin: 30px 20px;
    text-align: center;
    overflow: hidden;
}

.product_container--card img{
    width: 265px;
    height: auto;
}

.product_container--card p{
    margin: 5px 0px;
}

.product_container--card strong{
    font-size: 1.5em;
}

.product_container--card del{
    text-decoration: line-through;
    color: #8a8a8b;
}

.product_container--inside_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_container--inside_container img{
    width: 25px;
    height: 25px;
    margin: 0px 10px;
}

.delivery-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 5px;
    text-align: center;
    color: #FFFFFF;
    background-color: #10B981;
}

.divisor{
    display: flex;
    align-items: center;
    height: auto;
    padding: 20px 10px;
    background-image: url("../media/persona-auriculares.jpg");
    background-size: cover;
    background-position: bottom;
}

.divisor-2{
    display: flex;
    align-items: center;
    height: auto;
    padding: 20px 10px;
    background-image: url("../media/divisor-background.jpg");
    background-size: cover;
}

.divisor-text{
    font-size: 7vw;
    width: 40vw;
    height: auto;
    padding: 20px 30px 20px 30px;
    margin: 0px 10px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #1E3A8A;
}

/*FOOTER*/

.footer-upper-container{
    height: 33px;
    background-color: #162d6b;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    height: auto;
    padding: 10px 10px 30px 10px;
    background-color: #1E3A8A;
    color: #FFFFFF;
}

.footer-main-container{
    display: flex;
    flex-direction: column;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.footer-container h2{
    font-size: 2em;
}

.footer-main-container img{
    width: 30px;
    height: 30px;

}

.footer-main-container ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.footer-container--items{
    display: flex;
    justify-content: center;
    align-items: start;
}

.footer-container--items ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-container--items li{
    padding: 10px;
}

.footer-container--items p{
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: underline;
}

.footer-container--items a{
    color: white;
}

/*PAGINA DE CONTACTO*/

fieldset{
    border: none;
}

form[name="contact"]{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 20px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px #8a8a8b;
}

form[name="contact"] label{
    margin: 0px 10px;
}

form[name="contact"] input{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 30px;
    padding: 5px;
    margin: 10px 0px;
}

form[name="contact"] select, input[name="tel-number"]{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 30px;
    padding: 5px;
    margin: 10px 0px;
}

form[name="contact"] textarea{
    display: flex;
    justify-content: center;
    width: 350px;
    padding: 5px;
    margin: 10px 0px;
}

form[name="contact"] input[type="submit"]{
    width: 350px;
    height: 40px;
    margin: 10px;
    padding: 5px;
    color: #FFFFFF;
    background-color: #1E3A8A;
    border: none;
}

form[name="contact"] input[type="reset"]{
    width: 350px;
    height: 40px;
    margin: 10px;
    padding: 5px;
    color: #FFFFFF;
    background-color: #1E3A8A;
    border: none;
}

.form-buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 360px;
}

/*USER*/

.grid-article{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 200px;
    gap: 10px;
    width: 60%;
    padding: 10px;
    margin: 20px 0px;
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.grid-item:hover{
    border: 1px solid #1E3A8A;
}

.grid-item img{
    width: 20%;
    height: auto;
    margin: 0px 5px;
}

.grid-item div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 5px;
}

/*MEDIA QUERYS*/

@media (max-width: 426px){
    .header_container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo-header{
        width: 20px;
        height: 20px;
        bottom: 3px;
        margin: 0px;
    }
    .header_container--title{
        order: 1;
        width: auto;
        height: auto;
    }
    .title-header{
        font-size: 1em;
    }
    .header_container--search{
        width: 75%;
        height: auto;
        order: 3;
    }
    .header_container--search input{
        height: 20px;
    }
    .header_container--user{
        order:2;
        width: auto;
        font-size: 0.5em;
    }
    .header_container--user ul img{
        width: 20px;
        height: 20px;
        margin: 0px 5px;
    }
    .header_navbar{
        height: auto;
    }
    .header_navbar--items{
        display: none;
    }
    .header_navbar--misc{
        display: none;
    }
    .subtitle{
        font-size: 1.5em;
    }
    .divisor-banner{
        height: 100px;
    }
    .first-banner{
        flex-wrap: wrap;
        margin: 5px 0px;
        background-color: #F3F4F6;
    }
    .first-banner ul{
        width: 95%;
        margin: 2px 0px;
        font-size: 0.5em;
        background-color: #FFFFFF;
        border: none
        
    }
    footer{
        justify-content: center;
        align-items: center;
    }
    .footer-main-container{
        flex-direction: column;
    }
    .footer-container--items{
        flex-direction: column;
        align-items: center;
    }
    form[name="contact"]{
        width: 85%;
    }
    form[name="contact"] input{
        width: 80%;
    }
    form[name="contact"] select, input[name="tel-number"]{
        width: 200px;
    }
    
    form[name="contact"] textarea{
        width: 200px;
    }
    
    form[name="contact"] input[type="submit"]{
        width: 200px;
    }
    
    form[name="contact"] input[type="reset"]{
        width: 200px;
    }
    
    .form-buttons{
        width: 200px;
    }
    .grid-container{
        grid-template-columns: 200px;
        grid-template-rows: 300px 300px 300px 300px;
    }
}